.created-by {
    position: absolute;
    right: 0;
}
.petition-container {
    position: relative;
}
body, .container {
    background-color: #f6f5f7 !important;

}
.row > div  {
 margin-bottom: 10px;
}
h2 {
    text-align: initial;
}