{% extends 'rallyapp/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'rallyapp/css/style.css' %}">
{% endblock %}

{%  block content %}
<div style="background-image: url('{% static 'rallyapp/back.jpeg' %}'); height:100%; width:100%;">
    <h1 style="font-size: 5rem; font-family: 'Edu TAS Beginner', cursive; text-align:center;">Rally</h1>
    <h1 style="font-size: 2rem; font-family: 'Edu TAS Beginner', cursive; text-align:center;">Battle Climate Change one community at a time!</h1>
    <h1 style="font-size: 1.5rem; font-family: 'Edu TAS Beginner', cursive; text-align:center;">Signup now to make your community a better place!</h1>

    </div>

{% endblock %}