{% extends "rallyapp/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'rallyapp/css/petitions.css' %}">
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 10px;">
        <h4 style="display: inline;">Popular Petitions</h4>
        <a href="{% url 'petition-create' %}" class="btn btn-primary" style="float: right;margin-top: -8px;">Create a Petition</a>
        <a href="?view_self=true" class="btn btn-primary" style="float: right;margin-top: -8px;margin-right: 8px;">My Petitions</a>
        <hr>
        <div class="row">
            {% for petition in petitions %}
                <div class="col-md-4 col-lg-4">
                    <div class="card img-thumbnail" style="width: 18rem;">
                        <div class="card-body">
                            <a href="{% url 'view_petition' petition.id %}"><h5 class="card-title"><b>{{petition.name}}</b></h5></a>
                            <h6 class="card-subtitle mb-2 text-muted"><span class="petition-vote-count">{{petition.signature_set.count}}</span> signature{% if petition.signature_set.count != 1 %}s{% endif %}</h6>
                            <p class="card-text">{{ petition.description }}</p>
                            <span class="card-link">Created by {{ petition.created_by }}</span>
                            {% if not petition in signed_petitions and not petition in my_petitions %}
                                <button class="btn btn-primary sign-button" data-petition-id={{ petition.id }}>Sign</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $('.sign-button').click(function(){
            const that = this;
            var petition_id = $(this).attr("data-petition-id");
            var data = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                'petition_id': petition_id
            };
            $.ajax({
                type: 'POST',
                url: "/petition/sign",
                data: data,
                success: function() {
                    $(that).siblings("h6").find(".petition-vote-count").text(parseInt($(that).siblings("h6").find(".petition-vote-count").text()) + 1);
                    $(that).remove();
                }
            });
        });
    </script>
{% endblock %}