{% extends "rallyapp/base.html" %}
{% block css %}

{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 20px">
        <h1 style="text-align: center">Petition for {{ petition.name }}</h1>
        {{ petition.description }}
        <hr>
        <br>
        <b>Signed by:</b>
        <ul class="list-group">
            {% for signature in petition.signature_set.all %}
                <li class="list-group-item" aria-current="true">{{ signature.member.first_name }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}