{% extends "rallyapp/base.html" %}
{% load static %}

{% block content %}
<h3>Welcome, <span id="username">{{ user.first_name }}</span></h3>
<br>
{% for message in messages %}
    {{ message.author }} {{ message.timestamp|date:"h:i A" }}
    <br>
    {{ message.message }}
    <br>
{% endfor %}

<div id="chat-log" class="h-100 w-100"></div><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ room_name|json_script:"room-name" }}


<script src="{% static 'channelsapp/js/channels.js' %}"></script>
{% endblock %}