.chat-box{
    color: white;
    background: #16161D;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px -30px black;
    height: 500px;
    overflow-y: auto;
}

.author{
    font-size: 1.5rem;
    font-weight: bold;
}
.time{
    font-size: 0.8rem;
}

.message{
    font-size: 1.3rem;
    margin-left: 10px;
    margin-bottom: 100px;
}